{% set relationship_fields = ["shipping_company_id"] %}
<tr class="hover:bg-gray-50 group">
    <td class="px-4 py-1 whitespace-nowrap border-b text-sm">
        {% if "name".endswith('_id') and "name" in relationship_fields %}
            {{ item.n.name if item.n and hasattr(item.n, 'name') else item.name }}
        {% else %}
            {{ item.name }}
        {% endif %}
    </td><td class="px-4 py-1 whitespace-nowrap border-b text-sm">
        {% if "shipping_company_id".endswith('_id') and "shipping_company_id" in relationship_fields %}
            {{ item.shipping_company.name if item.shipping_company and hasattr(item.shipping_company, 'name') else item.shipping_company_id }}
        {% else %}
            {{ item.shipping_company_id }}
        {% endif %}
    </td>
    <td class="px-4 py-1 whitespace-nowrap border-b text-sm">
        <div class="invisible group-hover:visible flex justify-end space-x-2">
            <a href="{{ url_for('crud.vessel.edit_vessel', id=item.id) }}"
               class="bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-1 px-2 rounded text-sm">
                Edit
            </a>
            <button hx-delete="{{ url_for('crud.vessel.delete_vessel', id=item.id) }}"
                    hx-confirm="Are you sure you want to delete this Vessel?"
                    hx-target="closest tr"
                    class="bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-1 px-2 rounded text-sm">
                Delete
            </button>
        </div>
    </td>
</tr>