<tr id="manifest-row-{{ item.id }}" class="hover:bg-gray-50 group">
    <td class="flex-col px-4 py-1 whitespace-nowrap border-b text-sm truncate">
        {{ item.bill_of_lading }}
    </td>
    <td class="flex-col px-4 py-1 whitespace-nowrap border-b text-sm truncate">
        {{ item.shipper_name or item.shipper_id }}
    </td>
    <td class="flex-col px-4 py-1 whitespace-nowrap border-b text-sm truncate hidden md:table-cell">
        {{ item.consignee_name or item.consignee_id }}
    </td>
    <td class="flex-col px-4 py-1 whitespace-nowrap border-b text-sm truncate hidden lg:table-cell">
        {{ item.vessel_name or item.vessel_id }}
    </td>
    <td class="flex-col px-4 py-1 whitespace-nowrap border-b text-sm truncate hidden lg:table-cell">
        {{ item.voyage_name or item.voyage_id }}
    </td>
    <td class="action-col px-4 py-1 whitespace-nowrap border-b text-sm">
        <div class="invisible group-hover:visible flex justify-end space-x-2">
            <button type="button"
                    hx-get="{{ url_for('crud.manifest.load_form', id=item.id) }}"
                    hx-target="#modal-container"
                    hx-swap="outerHTML"
                    class="bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-1 px-2 rounded text-sm">
                Edit
            </button>
            <button hx-delete="{{ url_for('crud.manifest.delete_manifest', id=item.id) }}"
                    hx-confirm="Are you sure you want to delete this Manifest?"
                    hx-target="#manifest-table"
                    hx-swap="innerHTML"
                    class="bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-1 px-2 rounded text-sm">
                Delete
            </button>
        </div>
    </td>
</tr>
