<div id="table-container" class="table-container" style="display: block; overflow-y: auto;">
    <table class="bg-white table-fixed w-full" style="height: 100%;">
        <thead class="bg-gray-100" style="position: sticky; top: 0; background-color: white; z-index: 1;">
            <tr>
                {% for column in columns %}
                <th class="{{ column.class }} {{ column.width_class }} cursor-pointer"
                    hx-get="{{ url_for('crud.manifest.list_manifest', sort='-' + column.key if sort == column.key else column.key) }}"
                    hx-target="#rows-container"
                    hx-include="[name='search'], [name='per_page']">
                    <div class="flex items-center">
                        <span>{{ column.label }}</span>
                        {% if sort == column.key %}
                            <span class="ml-1">↑</span>
                        {% elif sort == '-' + column.key %}
                            <span class="ml-1">↓</span>
                        {% endif %}
                    </div>
                </th>
                {% endfor %}
                <th class="w-[120px] px-4 py-2 text-right text-sm font-bold text-gray-700 border-b">Actions</th>
            </tr>
        </thead>
            <tbody id="rows-container" class="{{ container_class }}">
            {% include 'crud/manifest/_rows.html' %}
        </tbody>
    </table>
</div>
