{% extends "crud/generic/list_base.html" %}
    
{% block title %}Manifest List{% endblock %}
{% block header %}Manifests{% endblock %}

{% block before_table %}
    <button type="button"
            class="inline-flex items-center px-4 py-2 text-sm bg-gray-200 hover:bg-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
            hx-get="{{ url_for('crud.manifest.load_form') }}"
            hx-target="#modal-container"
            hx-swap="outerHTML">
        New Manifest
    </button>
    <div id="modal-container"></div>
{% endblock %}

{% block table_content %}
    <div id="manifest-table"
         class="overflow-hidden"
         hx-trigger="manifestSaved from:body"
         hx-get="{{ url_for('crud.manifest.list_manifest') }}"
         hx-target="#manifest-table">
        {% include 'crud/manifest/table.html' %}
    </div>
{% endblock %}
