{% set relationship_fields = ["vessel_id"] %}
<tr class="hover:bg-gray-50 group">
    <td class="px-4 py-1 whitespace-nowrap border-b text-sm">
        {% if "name".endswith('_id') and "name" in relationship_fields %}
            {{ item.n.name if item.n and hasattr(item.n, 'name') else item.name }}
        {% else %}
            {{ item.name }}
        {% endif %}
    </td><td class="px-4 py-1 whitespace-nowrap border-b text-sm">
        {% if "vessel_id".endswith('_id') and "vessel_id" in relationship_fields %}
            {{ item.vessel.name if item.vessel and hasattr(item.vessel, 'name') else item.vessel_id }}
        {% else %}
            {{ item.vessel_id }}
        {% endif %}
    </td><td class="px-4 py-1 whitespace-nowrap border-b text-sm">
        {% if "rotation_number".endswith('_id') and "rotation_number" in relationship_fields %}
            {{ item.rotation_num.name if item.rotation_num and hasattr(item.rotation_num, 'name') else item.rotation_number }}
        {% else %}
            {{ item.rotation_number }}
        {% endif %}
    </td>
    <td class="px-4 py-1 whitespace-nowrap border-b text-sm">
        <div class="invisible group-hover:visible flex justify-end space-x-2">
            <a href="{{ url_for('crud.voyage.edit_voyage', id=item.id) }}"
               class="bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-1 px-2 rounded text-sm">
                Edit
            </a>
            <button hx-delete="{{ url_for('crud.voyage.delete_voyage', id=item.id) }}"
                    hx-confirm="Are you sure you want to delete this Voyage?"
                    hx-target="closest tr"
                    class="bg-gray-100 hover:bg-gray-200 text-gray-800 font-semibold py-1 px-2 rounded text-sm">
                Delete
            </button>
        </div>
    </td>
</tr>